In [3]:
import pandas as pd
import matplotlib.pylab as plt

df_cov = pd.read_csv('covid19_confirmed_global.csv')
df_cov

,Unnamed: 0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20
0,0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,...,933,996,1026,1092,1176,1279,1351,1463,1531,1703
1,1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,...,548,562,584,609,634,663,678,712,726,736
2,2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,...,2534,2629,2718,2811,2910,3007,3127,3256,3382,3517
3,3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,...,704,713,717,717,723,723,731,738,738,743
4,4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,...,24,24,24,24,25,25,25,25,26,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
262,262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
264,264,NaN,Global_total,NaN,NaN,555,654,941,1434,2118,...,2317339,2400843,2471759,2548821,2624107,2707742,2811603,2897624,2972363,3041764
265,265,NaN,Global_add,NaN,NaN,0,99,287,493,684,...,77616,83504,70916,77062,75286,83635,103861,86021,74739,69401

In [52]:
# 美國
df_cov_us = df_cov[df_cov['Country/Region'] == 'US']

# 新增
df_cov_us.loc['2','1/22/20':] = 0 
df_cov_us.loc['2','Country/Region']='us_add'
#df_cov_ger

#df_cov_ger.iloc[0,5:103]
for i in range(6,102):
    df_cov_us.iloc[1,i] = df_cov_us.iloc[0,i] - df_cov_us.iloc[0,i-1]
# 整數
df_cov_us.loc[:,'1/22/20':] = df_cov_us.loc[:,'1/22/20':].astype(int)
# 另存
df_cov_us.to_csv('./covid19_confirmed_Us.csv')
df_cov_us

/Users/user/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Unnamed: 0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20
225,225.0,NaN,US,37.0902,-95.7129,1,1,2,2,5,...,732197,758809,784326,811865,840351,869170,905358,938154,965785,988197
2,NaN,NaN,us_add,NaN,NaN,0,0,1,0,3,...,32491,26612,25517,27539,28486,28819,36188,32796,27631,22412

In [49]:
df_cov_jp = df_cov[df_cov['Country/Region'] == 'Japan']
#df_cov_jp
# 更改數據 4/20 https://zh.cn.nikkei.com/politicsaeconomy/politicsasociety/40256-2020-04-21-08-13-52.html
df_cov_jp.loc[139, '4/20/20'] = 10995

# 新增
df_cov_jp.loc['2','1/22/20':] = 0 
df_cov_jp.loc['2','Country/Region']='jp_add'
#df_cov_ger

#df_cov_ger.iloc[0,5:103]
for i in range(6,102):
    df_cov_jp.iloc[1,i] = df_cov_jp.iloc[0,i] - df_cov_jp.iloc[0,i-1]
# 整數
df_cov_jp.loc[:,'1/22/20':] = df_cov_jp.loc[:,'1/22/20':].astype(int)
# 另存
df_cov_jp.to_csv('./covid19_confirmed_Jp.csv')
df_cov_jp

/Users/user/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/Users/user/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Unnamed: 0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20
139,139.0,NaN,Japan,36.0,138.0,2,2,2,2,4,...,10296,10797,10995,11135,11512,12368,12829,13231,13441,14153
2,NaN,NaN,jp_add,NaN,NaN,0,0,0,0,2,...,509,501,198,140,377,856,461,402,210,712

In [50]:
#德國 Germany
df_cov_ger = df_cov[df_cov['Country/Region'] == 'Germany']
#df_cov_ger

# 新增
df_cov_ger.loc['2','1/22/20':] = 0 
df_cov_ger.loc['2','Country/Region']='ger_add'
#df_cov_ger

#df_cov_ger.iloc[0,5:103]
for i in range(6,102):
    df_cov_ger.iloc[1,i] = df_cov_ger.iloc[0,i] - df_cov_ger.iloc[0,i-1]
# 整數
df_cov_ger.loc[:,'1/22/20':] = df_cov_ger.loc[:,'1/22/20':].astype(int)
# 另存
df_cov_ger.to_csv('./covid19_confirmed_Germany.csv')
df_cov_ger

/Users/user/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20
120,120.0,NaN,Germany,51.0,9.0,0,0,0,0,0,...,143342,145184,147065,148291,150648,153129,154999,156513,157770,158758
2,NaN,NaN,ger_add,NaN,NaN,0,0,0,0,0,...,1945,1842,1881,1226,2357,2481,1870,1514,1257,988

In [32]:
#法國 X 公開資料有模糊不清處
df_cov_fr = df_cov[df_cov['Country/Region'] == 'France']
#df_cov_fr
# 累計
df_cov_fr.loc['12','1/22/20':]= df_cov_fr.sum(axis=0)
df_cov_fr.loc['12','Country/Region']='fr_total'
#df_cov_fr
# 新增
df_cov_fr.loc['13','1/22/20':] = 0 
df_cov_fr.loc['13','Country/Region']='fr_add'
#df_cov_fr

#df_cov_fr.iloc[12,5:103]
for i in range(6,102):
    df_cov_fr.iloc[12,i] = df_cov_fr.iloc[11,i] - df_cov_fr.iloc[11,i-1]
# 整數
#df_cov_fr.loc[:,'1/22/20':] = df_cov_fr.loc[:,'1/22/20':].astype(int)
# 另存
#df_cov_fr.to_csv('./covid19_confirmed_global.csv')
df_cov_fr

/Users/user/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Unnamed: 0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20
107,107.0,French Guiana,France,3.9339,-53.1258,0.0,0.0,0.0,0.0,0.0,...,96.0,96.0,97.0,97.0,97.0,107.0,111.0,111.0,111.0,111.0
108,108.0,French Polynesia,France,-17.6797,149.4068,0.0,0.0,0.0,0.0,0.0,...,55.0,55.0,56.0,56.0,57.0,57.0,57.0,57.0,57.0,57.0
109,109.0,Guadeloupe,France,16.2500,-61.5833,0.0,0.0,0.0,0.0,0.0,...,148.0,148.0,148.0,148.0,148.0,148.0,149.0,149.0,149.0,149.0
110,110.0,Mayotte,France,-12.8275,45.1662,0.0,0.0,0.0,0.0,0.0,...,254.0,271.0,271.0,311.0,326.0,326.0,354.0,380.0,401.0,401.0
111,111.0,New Caledonia,France,-20.9043,165.6180,0.0,0.0,0.0,0.0,0.0,...,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0
112,112.0,Reunion,France,-21.1351,55.2471,0.0,0.0,0.0,0.0,0.0,...,407.0,408.0,408.0,410.0,410.0,412.0,412.0,417.0,417.0,418.0
113,113.0,Saint Barthelemy,France,17.9000,-62.8333,0.0,0.0,0.0,0.0,0.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
114,114.0,St Martin,France,18.0708,-63.0501,0.0,0.0,0.0,0.0,0.0,...,37.0,37.0,37.0,37.0,38.0,38.0,38.0,38.0,38.0,38.0
115,115.0,Martinique,France,14.6415,-61.0242,0.0,0.0,0.0,0.0,0.0,...,158.0,163.0,163.0,163.0,164.0,164.0,170.0,175.0,175.0,175.0
116,116.0,NaN,France,46.2276,2.2137,0.0,0.0,2.0,3.0,3.0,...,146906.0,151808.0,154188.0,156921.0,154715.0,157026.0,158636.0,160292.0,160847.0,164589.0
259,259.0,Saint Pierre and Miquelon,France,46.8852,-56.3159,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12,NaN,NaN,fr_total,NaN,NaN,0.0,0.0,2.0,3.0,3.0,...,148086.0,153011.0,155393.0,158168.0,155980.0,158303.0,159952.0,161644.0,162220.0,165963.0
13,NaN,NaN,fr_add,NaN,NaN,0.0,0.0,2.0,1.0,0.0,...,2.0,4925.0,2382.0,2775.0,-2188.0,2323.0,1649.0,1692.0,576.0,3743.0